---
# This playbook builds ISO with kickstart for unattended 
# installation of RHEL on Baremetal host for virtualization
- name: Build ISO
  hosts: imagebuilder
  become: yes
  gather_facts: yes

  tasks:
  - name: Start
    ansible.builtin.debug:
      msg: "Starting ISO build"
  
  - name: Load secrets from ansible vault
    ansible.builtin.include_vars:
      file: "./vars/secrets.yml"
  
  - name: Create blueprint
    block:
    - name: create temp file to store blueprint
      ansible.builtin.tempfile:
        state: file
        suffix: toml
      register: builder_blueprint_file_result
    - name: set blueprint file in fact
      ansible.builtin.set_fact:
        builder_blueprint_file: "{{ builder_blueprint_file_result.path }}"
    - name: Create blueprint
      infra.osbuild.create_blueprint:
        dest: "{{ builder_blueprint_file }}"
        name: "{{ builder_blueprint_name }}"
        description: "{{ builder_blueprint_description }}"
        distro: "{{ builder_blueprint_distro | default(omit) }}"
        packages: "{{ builder_compose_pkgs | default(omit) }}"
        customizations: "{{ builder_compose_customizations | default(omit) }}"
  
  - name: push the blueprint to imagebuilder
    infra.osbuild.push_blueprint:
      src: "{{ builder_blueprint_file }}"
  
  - name: Get new blueprint version
    ansible.builtin.shell: composer-cli --json blueprints show "{{ builder_blueprint_name }}" | jq -r ".[].body.blueprints[].version"
    register: new_blueprint_version_result

  - name: Setting current blueprint version
    ansible.builtin.set_fact:
      blueprint_version: "{{ new_blueprint_version_result.stdout }}"

  - name: Start Compose
    block:
    - name: Check whether components listed in blueprint and dependencies are valid
      ansible.builtin.shell: |
        composer-cli --json blueprints depsolve {{ builder_blueprint_name }} | jq -r ".[].body.errors | length"
      register: depsolve_result

    - name: fail when errors
      assert:
        that: 
        - depsolve_result.stdout != 0
        fail_msg: "Depsolve errors in blueprint"
    
    - name: Start compose
      ansible.builtin.shell: |
        composer-cli --json compose start {{ builder_blueprint_name }} image-installer | jq -r ".[].body.build_id"
      register: compose_start_result

    - name: Set job id in fact
      ansible.builtin.set_fact:
        job_id: "{{ compose_start_result.stdout }}"
    
  - name: wait for compose to finish
    ansible.builtin.shell: |
      composer-cli --json compose info {{ job_id }} | jq -r ".[].body.queue_status"
    until: check_status_result.stdout not in ["RUNNING", "WAITING"]
    retries: "{{ retries }}"
    delay: "{{ delay }}"
    register: check_status_result

  - name: Make sure compose job successfully completed before proceeding further 
    ansible.builtin.assert:
      that: 
      - check_status_result.stdout == "FINISHED"
      fail_msg: "Compose failed"
      
  - name: Download Artifact
    block:
    - name: Create a temp dir
      ansible.builtin.tempfile:
        state: directory
        suffix: "{{ builder_blueprint_name }}"
      register: tempdir_result

    - name: Set artifact dir
      ansible.builtin.set_fact:
        artifact_dir: "{{ tempdir_result.path }}"
    
    - name: Set artifact path in fact
      ansible.builtin.set_fact:
        artifact_file: "{{ artifact_dir }}/{{ builder_blueprint_name }}_{{ blueprint_version }}.iso"
        artifact_file_with_ks: "{{ artifact_dir }}/{{ builder_blueprint_name }}_{{ blueprint_version }}-ks.iso"

    - name: Download artifact
      ansible.builtin.shell: |
        composer-cli compose image {{ job_id }} --filename {{ artifact_file }}

    - name: Debug
      ansible.builtin.debug:
        msg: "Download ISO from: {{ artifact_file }}"

  - name: Generate cloud-init files
    block:
    - name: Create a temp directory to store the ISO
      ansible.builtin.tempfile:
        state: directory
        suffix: "cloudinit"
      register: tempdir_result
    - name: Set the directory path in fact
      ansible.builtin.set_fact:
        cloudinit_files: "{{ tempdir_result.path }}"
    - name: Generate a random guid to be used as instance id in cloud-init metadata file
      ansible.builtin.shell: |
        uuidgen
      register: uuidgen_result
    - name: Set instance id in fact
      ansible.builtin.set_fact:
        instance_id: "{{ uuidgen_result.stdout }}"
    - name: Generate cloud-init metadata file
      ansible.builtin.template:
        src: "meta-data.j2"
        dest: "{{ cloudinit_files }}/meta-data"
        mode: "0755"
    - name: Generate user-data file
      ansible.builtin.template:
        src: "user-data.j2"
        dest: "{{ cloudinit_files }}/user-data"
        mode: "0755"
  - name: Create a custom anaconda kickstart file
    block:
    - name: Create a temp directory to store the generated kickstart file
      ansible.builtin.tempfile:
        state: file
        suffix: ks
      register: builder_kickstart
    - name: Store the path in fact
      ansible.builtin.set_fact:
        ksfile: "{{ builder_kickstart.path }}"
    - name: Debug the kickstart file path
      ansible.builtin.debug:
        msg: "Kickstart file: {{ ksfile }}"
    - name: Generate kickstart file
      ansible.builtin.template:
        src: "kickstart.ks.j2"
        dest: "{{ ksfile }}"
    - name: Slurp kickstart file to debug
      ansible.builtin.slurp:
        src: "{{ ksfile }}"
      register: kickstart_content
    - name: Display kickstart contents
      ansible.builtin.debug:
        msg: "{{ kickstart_content['content'] | b64decode }}"
    - name: Validate the kickstart file
      ansible.builtin.command: "ksvalidator {{ ksfile }}"
      changed_when: false

  - name: Inject the anaconda kickstart and cloud-init files into ISO
    ansible.builtin.command: |
      mkksiso --add {{ cloudinit_files }}/user-data --add {{ cloudinit_files }}/meta-data --ks {{ ksfile }} {{ artifact_file }} {{ artifact_file_with_ks }}
    register: mkksiso_result
  
  - name: Debug mkksiso result
    ansible.builtin.debug:
      var: mkksiso_result

  - name: Debug artifact with custom ks 
    ansible.builtin.debug:
      msg: "Download ISO with custom kickstart from: {{ artifact_file_with_ks }}"